{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
    <style>
        h1 {
            text-align: center;
        }

        form {
            text-align: center;
        }

        #tweet {
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- .navbar-brand 左上LOGO位置 -->
        <a class="navbar-brand" href="/">
            <span class="h3 mx-1">IR</span>
        </a>
        <!-- .navbar-toggler 漢堡式選單按鈕 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- .navbar-toggler-icon 漢堡式選單Icon -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- .collapse.navbar-collapse 用於外層中斷點群組和隱藏導覽列內容 -->
        <!-- 選單項目&漢堡式折疊選單 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- active表示當前頁面 -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">PubMed<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/twitter'>Twitter</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <!-- upload file -->
        <h1>Twitter</h1>

        <form method="post" enctype="multipart/form-data" action="tweetupload">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button type="submit">Upload</button>
        </form>
        <br>
        <!-- search -->
        <form action='tweetsearch' method='GET'>
            <div class='form-group' , align="center">
                <input type="text" placeholder="key" name="tweetsearch">
                <button type='submit' class='btn btn-success'>search</button>
            </div>
        </form>

        <!-- body -->
        <div>
            {% autoescape off %}
            {% for one in data %}
            <div id='tweet'>
                <table>
                    <tr>
                        <td rowspan="2"><img src=../../static/twitter.png width=50 height=50></img></td>
                        <td>
                            <div style="font-size:30px; font-weight:bold; vertical-align:bottom;">{{ one.user }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>@</td>
                    </tr>
                </table>

                <div style="display:inline; float:right;">
                    <font color='red'>Score:{{ one.score }}</font>
                </div>

                <p>{{ one.content }}</p>
                <p>
                    <font color="grey"> {{ one.date }}</font>
                </p>
                <div class="alert alert-info" role="alert">
                    <div class="row">
                        <div class="col-4">
                            <p>char_count: {{one.char_count}}</p>
                        </div>
                        <!-- <hr> -->
                        <div class="col-4">
                            <p>word_count: {{one.word_count}}</p>
                        </div>
                        <!-- <hr> -->
                        <div class="col-4">
                            <p>sentence_count: {{one.sentence_count}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <canvas id={{ one.index }} width="400" height="100"></canvas>
                </div>
                <div class="col-12">
                    <canvas id = {{ one.porter_index }} width="400" height="100"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById('{{one.index | safe}}');

                    var chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ one.word }},
                            datasets: [{
                                label: 'original zipf distribution',
                                fill: false,
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: {{ one.freq }}
                            }]
                        },
                    });

                    var porter_ctx = document.getElementById('{{one.porter_index | safe}}');

                    var porter_chart = new Chart(porter_ctx, {
                        type: 'line',
                        data: {
                            labels: {{ one.porter_word }},
                            datasets: [{
                                label: 'porter algorithm zipf distribution',
                                fill: false,
                                backgroundColor: 'rgb(140, 255, 195)',
                                borderColor: 'rgb(140, 255, 195)',
                                data: {{ one.porter_freq }}
                            }]
                        },
                    });
                </script>
                <hr>
            </div>
            {% endfor %}
            {% endautoescape %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
